<!DOCTYPE html>
<html>
<head>
 <title>MNIST</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
 <script type="text/javascript" src="/assets/javascripts/main.js"></script>
</head>
<body style="background-color: #002029">
<a href="https://github.com/ebezzi/mnist-detector-server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<div class="container">
 <img src="/assets/images/scala_italy.jpg" alt="Scala Italy" style="width:90px;height:90px;" align="left">
 <h1 align="center"><font color="white">Deep Learning with Apache Spark</font></h1>
</div>
<div class="container" style="background-color: white">
 <div class="row">
  <div class="col-md-6">
   <canvas id="main" style="margin: 30px;"></canvas>
   <p>
    <button id="clear" class="btn btn-default">clear</button>
   </p>
  </div>
  <div class="col-md-6">
   <canvas id="input" style="border:1px solid; margin: 30px;" width="140" height="140"></canvas>
   <hr>
   <table id="output" class="table col-md-2">
    <tr>
     <th>0</th>
     <td></td>
    </tr>
    <tr>
     <th>1</th>
     <td></td>
    </tr>
    <tr>
     <th>2</th>
     <td></td>
    </tr>
    <tr>
     <th>3</th>
     <td></td>
    </tr>
    <tr>
     <th>4</th>
     <td></td>
    </tr>
    <tr>
     <th>5</th>
     <td></td>
    </tr>
    <tr>
     <th>6</th>
     <td></td>
    </tr>
    <tr>
     <th>7</th>
     <td></td>
    </tr>
    <tr>
     <th>8</th>
     <td></td>
    </tr>
    <tr>
     <th>9</th>
     <td></td>
    </tr>
   </table>
  </div>
 </div>
</div>
<div class="container" style="background-color: white">
 <img src="/assets/images/logo_databiz.png" alt="Databiz">
</div>
</body>
</html>